# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
myenv/
.venv/
.env

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Database files
db.sqlite3

# OS files
.DS_Store
Thumbs.db

# Virtual Environment
.idea/
.vscode/

# Git
.git/
.gitignore
