{% extends 'myapp/staff/staff_base.html' %}

{% block title %}Update Status{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-white">
                    <h4 class="mb-0 text-info">Update Doctor Status</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label fw-bold">Doctor Name</label>
                            <input type="text" class="form-control" value="Dr. {{ doctor.name }}" disabled>
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-bold">Current Status</label>
                           <select name="status" class="form-select">
                                <option value="Available"
                                    {% if doctor.availability_status == 'Available' %}selected{% endif %}>
                                    Available
                                </option>

                                <option value="On Leave"
                                    {% if doctor.availability_status == 'On Leave' %}selected{% endif %}>
                                    On Leave
                                </option>

                                <option value="Emergency"
                                    {% if doctor.availability_status == 'Emergency' %}selected{% endif %}>
                                    Emergency
                                </option>
                            </select>

                        </div>

                        <div class="d-flex gap-2">
                            <button type="submit" class="btn btn-primary">Update Status</button>
                            <a href="{% url 'receptionist_doctor_schedule' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}